body {
  background-color: #FFFBE9;
  color: #2C3333;
  font-size: 110%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin: 0.5%;
  padding: 0;
}
.dotted {
  border-style: none;
  border-top-style: dotted;
  border-color: #E3CAA5;
  border-width: 5px;
  height: 0;
  width: 2%;
}
.name {
  font-size: 300%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.per-img {
  width: 90%;
}
.per {
  width: 5%;
  height: auto;
  text-align: center;
}
table {
  border-spacing: 0;
}
.marpad {
  margin: 0;
  padding: 0;
}
